.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-dark-500);
    &__container {
        flex: 1 1 100%;
        max-width: 1038px;
        padding: 0 15px;
        margin: 0 auto;
       
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
       
        &__logo {
            transform: translateX(-39px);
        }
    }
}
