.header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;

  

    &__container {
        flex: 1 1 100%;
        max-width: 1048px;
        padding: 0 20px;
        margin: 0 auto;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            transform: translateX(-39px);
        }
    }
}
