.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.trigger {
    min-width: 200px;
    all: unset;

    cursor: pointer;

    display: flex;
    gap: 14px;
    align-items: center;
}
.userName_decor {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        // background: red;
        border-bottom: 1px dashed var(--color-light-100);
    }
}

.dropDownContent {
    margin-top: 10px;
    min-width: 217px;
    position: absolute;
    right: -50px;
    z-index: 10;
    padding: 0px 12px;
    border-radius: 4px;
    background: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);

    &::after {
        content: "";
        position: absolute;
        z-index: 10;
        top: -6px;
        right: 20px;
        width: 10px;
        height: 10px;
        background: var(--color-dark-700);
        transform: rotate(45deg);
        border-top: 1px solid var(--color-dark-500);
        border-left: 1px solid var(--color-dark-500);
        border-radius: 2px 0px 0px 0px;
    }

    .dropdownMenuItem {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 0;
        &:first-child {
            padding-bottom: 12px;
        }

        &:not(:last-child) {
            padding: 12px 0;
            border-bottom: 1px solid var(--color-dark-500);
        }

        .userName {
            a {
                text-decoration: none;
                color: inherit;
                outline: none;
            }
        }
        .userEmail {
            color: var(--dark-100, #808080);
        }
    }
}
