.container {
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    &.disabled {
        color: var(--color-checkbox-disabled);
    }
}
.root {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    background-color: var(--color-bg-primary);
    border: 2px solid var(--color-light-900);
    border-radius: 2px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 35px;
        width: 35px;
        background-color: var(--color-dark-500);
        border-radius: 50%;
        z-index: -1;
        transition: all 250ms;
    }

    &:hover::after {
        opacity: 1;

        transition: all 0.5s;
    }

    &:focus {
        background-color: var(--color-bg-focus);
    }
    &:focus::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 35px;
        width: 35px;
        background-color: var(--color-dark-100);
        border-radius: 50%;
        z-index: -1;
    }

    &:disabled {
        cursor: initial;
        border-color: var(--color-checkbox-disabled);
        &::after {
            opacity: 0;
        }
    }

    &[data-state="checked"]:disabled {
        background-color: var(--color-checkbox-disabled);
    }
}

.indicator {
    width: 18px;
    height: 18px;
}
