.loginForm{
    box-sizing: border-box;
    background:  var(--dark-700, #171717);
    margin: 0 auto;
    max-width: 426px;
    padding: 33px 36px 29px 36px;
  

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
} 