.loginSection {
    padding-top: 96px;
    width: 100%;
    height: 100%;
  
    &__container {
        max-width: 1038px;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
        
    }
}
