// @import "@radix-ui/colors/black-alpha.css";
// @import "@radix-ui/colors/violet.css";

.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
}

.SliderTrack {
    background-color: #8b61ff93;
   
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 4px;
}

.SliderRange {
    position: absolute;
    background-color: var(--color-accent-500);
 
    border-radius: 9999px;
    height: 100%;
}

.SliderThumb {
    display: block;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 4px solid var(--color-accent-500);
    
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.SliderThumb:hover {
    border: 2px solid var(--color-accent-500);
}
.SliderThumb:focus {
    outline: none;
}
.tableBody {
    border-collapse: collapse;
    color: var(--color-text-primary);
    border: 1px solid var(--color-dark-500);
    width: 100%;
}

.headerCell {
    text-align: left;
    padding: 6px 24px;

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-m);

    background-color: var(--color-dark-500);
}

.tableRow {
    border-bottom: 1px solid var(--color-dark-500);
}

.tableCell {
    text-align: left;
    padding: 6px 24px;
}
