.groupContainer {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-self: self-start;
    padding: 10px;

}

.optionLabel {
    display: flex;
    align-items: center;
    gap: 12px;
    input {
        appearance: none;
        background-color: inherit;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 16px;
        height: 16px;
        border: 2px solid var(--primary-500, #8c61ff);
        border-radius: 50%;
        display: grid;
        place-content: center;
        transition: outline 200ms ease-in-out;
        outline: 0px solid var(--dark-500, #333);

        &:hover {
            transition-duration: .3s;
            outline: 10px solid var(--dark-500, #333);
        }
        &:active {
            outline: 10px solid var(--primary-900, #382766);
        }
       
        &:focus {
            outline: 10px solid var(--dark-700, #171717);
        }
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--primary-500, #8c61ff);
        }
        &:checked::before {
            transform: scale(1);
        }
    }
}
