.tableHeader_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 36px;
    .global_filter {
        flex: 0 0 300px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.switcherBlock {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.switcherGroup {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    button,
    input[type="submit"],
    input[type="reset"] {
        color: inherit;
        
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        padding: 6px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 50%;
        transition: all .3s ease;
        &:disabled{
            color: #4C4C4C;
            background: var(--dark-700, #171717);

        }
    }
}
.switcher {
    background: inherit;
    border: 1px solid var(--color-dark-300) ;
    &:hover{
        background: var(--dark-300, #4C4C4C);

    }
}
.switcher__active {
    padding: 6px 24px;
    background: var(--primary-500, #8c61ff);
    border: 1px solid transparent ;
}
