.pagination_nav {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .page_numbers {
        display: flex;

        align-items: center;
        gap: 12px;
        button {
            border-radius: 2px;
            padding: 5px 8px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: var(--color-dark-500);
            }
            &:disabled {
                cursor: not-allowed;
                color: gray;
                &:hover {
                    background: inherit;
                }
            }
        }
    }
    .numbersList {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
        li {
            padding: 5px 13px;
            border-radius: 2px;
            font-weight: 400;
            line-height: 24px;
        }

        .numberBlack {
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                background: var(--color-dark-500);
            }
        }
        .currentPageNumber {
            background: rgb(229, 223, 223);
            color: var(--color-dark-900);
        }
    }
    button {
        all: unset;
        padding: 2px 0px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        display: flex;
        align-items: center;
    }
}

.arrow_left {
    justify-items: center;
    transform: rotate(180deg);
}

.itemsOnPage {
    padding: 25px 0;
    justify-self: flex-end;
}
